<div class="dijit epi-globalToolbar" role="toolbar" tabIndex="${tabIndex}" data-dojo-attach-point="containerNode">
    <div class="epi-toolbarGroupContainer">
        <div class="epi-toolbarLeading epi-toolbarGroup">
            <span data-dojo-attach-point="leadingContainerNode"></span
            ><span data-dojo-attach-point="viewNode"></span
            ><span data-dojo-attach-point="compareNode"></span>
        </div>
        <div data-dojo-attach-point="centerContainerNode" class="epi-toolbarCenter epi-toolbarGroup"></div>
        <div data-dojo-attach-point="trailingContainerNode" class="epi-toolbarTrailing epi-toolbarGroup"></div>
    </div>
</div>