<div data-dojo-attach-point="inputContainer" class="dijitReset dijitInputField dijitInputContainer dijitInline epi-resourceInputContainer" id="widget_${id}">
    <div data-dojo-attach-point="displayNode, dropAreaNode, stateNode" class="dijit dijitReset dijitInline dijitInlineTable dijitLeft dijitTextBox displayNode">
        <div class="dijitReset dijitLeft dijitInputField dijitInputContainer">
            <div data-dojo-attach-point="clearButton" class="epi-clearButton">&nbsp;</div>
            <div data-dojo-attach-point="resourceName" class="dijitInline epi-resourceName dojoxEllipsis" >
                <span data-dojo-attach-point="selectedContentNameNode"></span> <span data-dojo-attach-point="selectedContentLinkNode"></span>
            </div>
        </div>
    </div>
    <div data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: _onButtonClick" data-dojo-attach-point="button" data-dojo-props="label:'...'"></div>
</div>