<div class="epi-overlay-blockarea">
	<div class="epi-overlay-item-container">
        <span data-dojo-attach-point="informationNode" class="epi-overlay-item-info"></span>
        <div class="epi-overlay-bracket"></div>
	</div>
	<div data-dojo-attach-point="containerNode" class="epi-overlay-blockarea-container"></div>
	<div data-dojo-attach-point="actionsNode" class="epi-overlay-blockarea-actionscontainer">
		<div data-dojo-attach-point="actionsNodeControls" class="epi-overlay-blockarea-actions"></div>
	</div>
</div>
