<div class="epi-menu--inverted">
    <div class="epi-dijitTooltipContainer">
        <div class="epi-invertedTooltip">
            <div class="epi-tooltipDialogTop">
                <span>${headingText}</span>
            </div>
        </div>
        <div class="epi-tooltipDialogContent--max-height">
            <table class="dijitReset dijitMenu epi-tooltipDialogMenu epi-menuInverted epi-mediumMenuItem" style="width: 100%" cellspacing="0">
	            <tbody data-dojo-attach-point="containerNode" ></tbody>
            </table>
        </div>
    </div>
</div>
