<div class="epi-trash">
    <div class="epi-listingTopContainer">
        <h1 class="dijitInline">${resources.heading}</h1>
        <div class="epi-mediumButton epi-button--bold epi-emptyCommand" data-dojo-attach-point="emptyTrashMenu" data-dojo-type="epi-cms/widget/EmptyTrashMenu"
            data-dojo-props="title: '${resources.emptytrash.tooltip}'"></div>
    </div>
    <div data-dojo-attach-point="stackContainer">
        <div data-dojo-type="dijit/layout/TabContainer" data-dojo-attach-point="tabContainer" data-dojo-props="doLayout:false, useMenu:true, useSlider:false"> <!-- doLayout="false" for flexible height -->
        </div>
    </div>
</div>
