
src/.vs/

src/Jhoose.Security.Admin/bin/

src/Jhoose.Security.Admin/node_modules/

src/Jhoose.Security.Admin/obj/

src/Jhoose.Security.Core/bin/

src/Jhoose.Security.Core/obj/

src/Test/Management/bin/

src/Test/Management/obj/

src/Test/Test.ContentDomain/bin/

src/Test/Test.ContentDomain/obj/

src/Jhoose.Security.Admin/dist/Jhoose.Security/ClientResources/
