
src/.vs/

src/Jhoose.Security/bin/

src/Jhoose.Security/node_modules/

src/Jhoose.Security/obj/

src/Jhoose.Security.Core/bin/

src/Jhoose.Security.Core/obj/

src/Test/Management/bin/

src/Test/Management/obj/

src/Test/Test.ContentDomain/bin/

src/Test/Test.ContentDomain/obj/

src/Jhoose.Security.Admin/dist/Jhoose.Security/ClientResources/

src/Jhoose.Security/dist/Jhoose.Security/ClientResources/

src/Tests/Jhoose.Security.Tests/bin/

src/Tests/Jhoose.Security.Tests/obj/

src/Sample/DemoSite/bin/

src/Sample/DemoSite/modules/

src/Sample/DemoSite/obj/

src/Sample/DemoSite/log.txt

src/Tests/Jhoose.Security.Core.Tests/bin/

src/Tests/Jhoose.Security.Core.Tests/obj/

src/Test/Management/modules/
/.vs
/src/packages

src/Sample/DemoSite461/obj/
src/Sample/DemoSite461/bin/

*.log


src/Sample/DemoSite/App_Data/blobs/
/src/Sample/DemoSite461/App_Data/EPiServerDB_13705f33.mdf
/src/Sample/DemoSite461/App_Data/EPiServerDB_13705f33_log.ldf

src/Jhoose.Security.Reporting/obj/

src/Jhoose.Security.Reporting/bin/

src/Sample/Foundation/bin/

src/Sample/Foundation/obj/

src/Sample/Foundation/node_modules/

src/Sample/Foundation/App_Data/
