<div class="epi-approval-step-list">
    <div class="epi-approval-step-list__status">
        <span class="epi-approval-step-list__status-icon epi-approval-step-list__status-icon--review"></span><h2 class="dijitInline">${resources.readytoreview}</h2>
    </div>
    <div data-dojo-attach-point="listNode"></div>

    <div class="epi-approval-step-list__status">
        <span class="epi-approval-step-list__status-icon epi-approval-step-list__status-icon--publish"></span><h2 class="dijitInline">${resources.readytopublish}</h2>
    </div>
</div>
