<div class="epi-reviewer">
    <button class="epi-button--round epi-reviewer__remove-button"
            tabindex="-1"
            data-dojo-type="dijit/form/Button"
            type="button">
        <span class="dijitInline dijitIcon dijitReset epi-iconMinus epi-icon--inverted"></span>
    </button>
    <span data-dojo-attach-point="selectedReviewerNode">
        <span data-dojo-attach-point="reviewerIcon" class="dijitInline dijitIcon"></span>
        <span class="dijitInline epi-reviewer__name" data-dojo-attach-point="userDisplayNameNode"></span>
    </span>
    <span class="epi-reviewer__language-selector epi-chromeless epi-chromeless--icon-only epi-chromeless--with-arrow"
          data-dojo-attach-point="languageSelector"
          data-dojo-type="epi-cms/contentediting/editors/CheckboxListDropDown"
          data-dojo-props="iconClass: 'epi-iconWebsite', header: '${resources.selectlanguage}', selectAllText: '${resources.anylanguage}'"></span>
    <span class="dijitInline" data-dojo-attach-point="languageSettingsNode"></span>
</div>
