<div class="dijitTreeNode" role="presentation">
    <div class="epi-tree-mngr--node-wrapper" data-dojo-attach-point="rowNode">
        <span data-dojo-attach-point="rolesNode, _buttonNode" class="epi-tree-mngr--view-settings"></span>
        <div class="dijitTreeRow dijitInline" role="presentation">
            <div data-dojo-attach-point="indentNode" class="dijitInline"></div>
            <span data-dojo-attach-point="expandoNode" class="dijitTreeExpando"></span>
            <span data-dojo-attach-point="expandoNodeText" class="dijitExpandoText" role="presentation"></span>
            <span data-dojo-attach-point="contentNode" class="dijitTreeContent" role="presentation">
                <span data-dojo-attach-point="extraIconsContainer" class="epi-extraIconsContainer" role="presentation">
                    <span data-dojo-attach-point="iconNodeMenu" class="epi-extraIcon epi-pt-contextMenu" title="${resources.settingstooltip}" role="presentation">&nbsp;</span>
                </span>
                <span data-dojo-attach-point="iconNode" class="dijitIcon dijitTreeIcon" role="presentation"></span>
                <span data-dojo-attach-point="labelNode" class="dijitTreeLabel" role="treeitem" tabindex="-1" aria-selected="false"></span>

            </span>
        </div>
        <div data-dojo-attach-point="containerNode" class="dijitTreeContainer" role="presentation" style="display: none;"></div>
    </div>
</div>
