<div class="epi-selector-list epi-menu--inverted">
    <div class="epi-menuInverted epi-invertedTooltip">
        <div class="epi-tooltipDialogTop">
            <span data-dojo-attach-point="headerNode"></span><div class="dijitTooltipConnector"></div>
        </div>
        <button class="epi-selector-list-btn epi-chromeless" data-dojo-attach-point="selectAll" data-dojo-type="dijit/form/ToggleButton" data-dojo-props="iconClass:'dijitcheckboxicon'"></button>
        <div data-dojo-attach-point="separatorNode" class="epi-selector-list__separator dijitHidden"></div>
        <div data-dojo-attach-point="listNode"></div>
    </div>
</div>
