#csp-root p, #csp-root h1, #csp-root h2, #csp-root h3, #csp-root h4, #csp-root h5, #csp-root h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgba(0, 0, 0, 0.88);
    word-break: break-word;
}

#csp-root main {
    padding: 0px 15px 5px 15px;
    margin-bottom: 2rem;
}

#csp-root fieldset {
    border-radius: 4px;
    border-color: rgba(0,0,0,0.6);
    border-width: 1px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

#csp-root .fullwidth {
    width: 100% !important;
}

#csp-root .wide-text {
    width: 600px;
}

#csp-root {
    height:calc(100vh - 70px);
    padding-top: 0px;
}

#csp-root .content-end {
    justify-content: flex-end;
}

#csp-root .linkButton {
    border: none;
    background-color:inherit;
    cursor: pointer;
}

#csp-root .linkButton:hover{
    background-color: inherit;
    text-decoration: underline;
}

#csp-root .editDialog .summary {
    min-width: 40vw;
}

#csp-root pre.summary {
    word-break: break-all; 
    word-wrap: break-word;
    white-space: pre;
    white-space: -moz-pre-wrap; 
    white-space: pre-wrap;
}


#csp-root div.title {
    padding: 10px 10px;
}
#csp-root   div.title h1 {
    margin-bottom: 0px;
}
#csp-root div.notenabled {
    padding: 10px;
}

#csp-root .iconButton {
    margin-left: 5px;
}

#csp-root .pad-left-20 {
    padding-left: 20px;
    margin-left: 20px;
}

#csp-root .border-left {
    border-left: 4px solid rgba(0,0,0,0.6);

}
#csp-root .smaller {
    font-size: smaller;
}
#csp-root .italic {
    font-style: italic;
}

#csp-root .bold {
    font-weight: bold;
}

#csp-root .toolBar {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#csp-root .error-message {
    color: red;
}

#csp-root .inline {
    display: inline;
}

#csp-root .flex {
    display: flex;
}

#csp-root .formCopy {
    padding-left: calc(3em + 14px);
}