fieldset {
    border-radius: 4px;
    border-color: rgba(0,0,0,0.6);
    border-width: 1px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.fullwidth {
    width: 100% !important;
}

.toaster {
    position: absolute;
    bottom: 0;
    border: 1px solid;
    padding: 1rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    left: 50%;
    
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: #606060;
    border-color: #606060;
    
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.toaster .mdc-typography--headline4 {
    color: white !important;
}

.wide-text {
    width: 600px;
}

#csp-root {
    height:calc(100vh - 70px);
    padding-top: 0px;
}

.content-end {
    justify-content: flex-end;
}

.linkButton {
    border: none;
    background-color:inherit;
    cursor: pointer;
}

.linkButton:hover{
    background-color: inherit;
    text-decoration: underline;
}

.editDialog .summary {
    min-width: 40vw;
}

pre {
    word-break: break-all; 
word-wrap: break-word;
white-space: pre;
white-space: -moz-pre-wrap; 
white-space: pre-wrap;
}