p, h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgba(0, 0, 0, 0.88);
    word-break: break-word;
}

main {
    padding: 0px 15px 5px 15px;
    margin-bottom: 2rem;
}

fieldset {
    border-radius: 4px;
    border-color: rgba(0,0,0,0.6);
    border-width: 1px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.fullwidth {
    width: 100% !important;
}

.wide-text {
    width: 600px;
}

#csp-root {
    height:calc(100vh - 70px);
    padding-top: 0px;
}

.content-end {
    justify-content: flex-end;
}

.linkButton {
    border: none;
    background-color:inherit;
    cursor: pointer;
}

.linkButton:hover{
    background-color: inherit;
    text-decoration: underline;
}

.editDialog .summary {
    min-width: 40vw;
}

pre.summary {
    word-break: break-all; 
    word-wrap: break-word;
    white-space: pre;
    white-space: -moz-pre-wrap; 
    white-space: pre-wrap;
}


div.title {
    padding: 10px 10px;
}
div.title h1 {
    margin-bottom: 0px;
}
div.notenabled {
    padding: 10px;
}

.iconButton {
    margin-left: 5px;
}

.pad-left-20 {
    padding-left: 20px;
    margin-left: 20px;
}

.border-left {
    border-left: 4px solid rgba(0,0,0,0.6);

}
.smaller {
    font-size: smaller;
}
.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.toolBar {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.error-message {
    color: red;
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}

.formCopy {
    padding-left: calc(3em + 14px);
}