form {
    overflow: hidden !important;
}

#fullArea {
	min-width: 650px;
}

#leftArea {
	float: left;
	overflow: hidden;
	margin-left: 5px;
	width: 532px;
}

#rightArea {
	float: right;
	width: 330px;
	overflow: hidden;
	padding: 0 5px;
}

.toolArea {
    padding: 1em 0;
    margin-top: 6px;
}

.toolArea fieldset {
   min-height: 92px;
   margin: 0;

}

.toolArea label {
	margin-left: 0.2em;
}

.toolArea input,
.toolArea select {
	margin-right: 0.3em;
	vertical-align: bottom;
}

.toolAreaHelp {
	margin-left: 0.2em;
	padding-bottom: 0.8em;
}

#CropPane input, #ResizePane input, #TransformPane input,
#CropPane select, #ResizePane select, #TransformPane select,
#CropPane label, #ResizePane label, #TransformPane label {
	vertical-align: middle;
}

#displaySizeConstrainGraphic {
	position: absolute;
	margin-right: 45px;
	right: 0px;
	top: 42px;
	width: 15px;
	height: 67px;
}

#WorkAreaContainer {
	position: relative;
	overflow: auto;
	border: 1px solid #aaaaaa;
	margin-bottom: 2px;
	background-color: #c1c1c1;
}

#WorkArea {
	position: absolute;
	margin: 10px;
	background-color: #fff;
}

.imageOpacity {
    opacity: 0.5;
}

.resizePlaceHolders {
	position: absolute;
	height: 6px;
	width: 6px;
	border: 1px solid blue;
	visibility: hidden;
	z-index: 3;
	overflow: hidden;
}

#imageContainer {
	 z-index: 1;
}

#selectionArea {
	border: 1px dashed blue;
	display: block;
	z-index: 2;
	overflow: hidden;
	visibility: hidden;
	position: absolute;
	width: 0px;
	height: 0px;
	left: 0px;
	top: 0px;
}

.selectionimage {
	-moz-user-select: none;
	position: relative;
}

.fieldsethidden {
	border-width: 1px;
	border-color: #eeeeee;
	border-style: solid;
}

.fieldsetvisible {
	border-width: 1px;
	border-color: #dddddd;
	border-style: solid;
}

.toolCommandButtons {
	padding-top: 0.3em;
	text-align: right;
}
