<div class="dijit" role="toolbar" tabIndex="${tabIndex}" data-dojo-attach-point="containerNode">
    <span data-dojo-attach-point="leftVersionSection" class="epi-compare-toolbar__text-wrapper">
        <span>${_resources.comparing}</span>
        <span data-dojo-attach-point="leftVersionSelector"></span>

        <span data-dojo-attach-point="leftDate"></span>
        <span class="epi-secondaryText epi-compare-toolbar__info-text">${_resources.by}</span>
        <span data-dojo-attach-point="leftBy"></span>
    </span>
    <span data-dojo-attach-point="rightVersionSection" class="epi-compare-toolbar__text-wrapper">
        <span>${_resources.with}</span>
        <span data-dojo-attach-point="rightVersionSelector"></span>
        <span data-dojo-attach-point="rightDate"></span>
        <span class="epi-secondaryText epi-compare-toolbar__info-text">${_resources.by}</span>
        <span data-dojo-attach-point="rightBy"></span>
    </span>
    <span data-dojo-attach-point="messageSection" class="epi-compare-toolbar__text-wrapper epi-compare-toolbar__text-wrapper--text-only"></span>
</div>
