<?xml version="1.0" encoding="utf-8"?>
<module productName="OnlineCenter" clientResourceRelativePath="12.0.0" loadFromBin="false" type="EPiServer.Shell.UI.UIShellModule, EPiServer.Shell.UI" viewFolder="CmsUIViews" authorizationPolicy="episerver:cmsedit" moduleJsonSerializerType="Resolve" prefferedUiJsonSerializerType="Net">
    <assemblies>
        <add assembly="EPiServer.Shell"/>
        <add assembly="EPiServer.Shell.UI"/>
        <add assembly="EPiServer.ApplicationModules"/>
    </assemblies>

    <routes>
        <route controllerPrefix="EPi">
            <defaults>
                <add key="moduleArea" value="Shell"/>
                <add key="controller" value="About"/>
                <add key="action" value="Index"/>
                <add key="id" value=""/>
            </defaults>
        </route>
    </routes>

    <clientResources>
        <add name="epi.shell.ui" path="ClientResources/epi/themes/sleek/document.css" resourceType="Style"/>
        <add name="epi.shell.ui" path="ClientResources/epi/themes/sleek/sleek1.css" resourceType="Style"/>
        <add name="epi.shell.ui" path="ClientResources/epi/themes/sleek/sleek2.css" resourceType="Style"/>
        <add name="epi.shell.ui" path="ClientResources/epi/shell/ResourceBundle.js" resourceType="Script"/>
        <add name="epi.shell.ui" path="ClientResources/epi/shell/widgets.js" resourceType="Script"/>
        <add name="epi.cms.visitorgroups.ui" path="ClientResources/epi/visitorgroup-widgets.js" resourceType="Script"/>
    </clientResources>

    <dojo>
        <packages>
            <add name="epi" location="ClientResources/EPi"/>
        </packages>
        <aliases>
            <add from="dojo/store/Observable" to="epi/patch/dojo/store/Observable"/>
        </aliases>
    </dojo>
    <clientModule initializer="epi.shell.ShellModule">
        <requiredResources>
            <add name="epi.shell.ui"/>
        </requiredResources>
    </clientModule>
</module>