<div class="epi-selector-list epi-menu--inverted">
    <div class="epi-menuInverted epi-invertedTooltip">
        <div class="epi-tooltipDialogTop">
            <span data-dojo-attach-point="headerNode"></span>
        </div>
        <div data-dojo-type="dijit/Toolbar" data-dojo-attach-point="toolbar" class="epi-flatToolbar">
            <div data-dojo-attach-point="toolbarGroupNode" class="epi-floatRight"></div>
        </div>
        <button class="epi-selector-list-btn epi-chromeless" data-dojo-attach-point="defaultOption" data-dojo-type="dijit/form/ToggleButton" data-dojo-props="iconClass:'dijitRadioIcon'"></button>
        <div data-dojo-attach-point="separatorNode" class="epi-selector-list__separator dijitHidden"></div>
        <div data-dojo-attach-point="listNode"></div>
    </div>
</div>
