<div>
    <div data-dojo-type="epi-cms/project/ProjectItemList"
         data-dojo-attach-point="itemList"
         data-dojo-props="commandSource: this.model, listItemType: 'card-compact', res: this.res">
        <section data-epi-section="toolbarSection">
            <div data-dojo-attach-point="toolbarGroupNode" class="epi-floatRight"></div>
        </section>
        <section data-epi-section="listContainer">
            <div data-dojo-attach-point="placeholderNode" class="epi-project-gadget__placeholder dijitHidden"></div>
        </section>
    </div>
</div>
