<div class="epi-project-mode-toolbar">
	<span data-dojo-attach-point="projectIconNode" class="dijitReset dijitInline epi-project-mode-toolbar__icon-node">
		<span class="dijitReset dijitInline dijitIcon epi-iconProject"></span>
    </span>
    <span data-dojo-attach-point="projectLabelNode" class="dijitInline">${localizations.label}</span>
    <span data-dojo-attach-point="projectSelectorNode"></span>
    <span class="dijitInline epi-project-mode-toolbar__warning-label">${localizations.projectdoesnotexists.currentprojectdoesnotexists}</span>
    <span data-dojo-attach-point="contextMenu" class="epi-project-mode-toolbar__contextmenu"></span>
    <span data-dojo-attach-point="projectOverviewButtonNode"></span>
</div>
