<div tabIndex="${tabIndex}" role="menu" class="epi-invertedTooltip epi-publishActionMenu" data-dojo-attach-point="containerNode" data-dojo-attach-event="onkeypress:_onKeyPress">
    <div class="epi-tooltipDialogTop">
        <ul>
            <li data-dojo-attach-point="primarySection" class="epi-projectStatusMessage"></li>
            <li data-dojo-attach-point="publishMenuNode"></li>
        </ul>
    </div>
    <div data-dojo-attach-point="statusSection" class="epi-tooltipDialogInfo"></div>
    <table class="epi-tooltipDialogMenu epi-menuInverted" cellspacing="0">
        <tbody data-dojo-attach-point="projectActionMenu"></tbody>
    </table>
</div>
