<?xml version="1.0" encoding="utf-8" ?>
<module loadFromBin="false" clientResourceRelativePath="" viewEngine="Razor" authorizationPolicy="episerver:cmsadmin"
        moduleJsonSerializerType="None" prefferedUiJsonSerializerType="Net">
    <assemblies>
        <add assembly="EPiServer.Admin" />
    </assemblies>

    <clientResources>
        <add name="admin" path="clientResources/dist/admin.bundle.css" resourceType="Style" />
        <add name="admin" path="clientResources/dist/admin.bundle.js" resourceType="Script" />
    </clientResources>

    <clientModule>
        <moduleDependencies>
            <add dependency="CMS" />
        </moduleDependencies>
        <requiredResources>
            <add name="admin" />
        </requiredResources>
    </clientModule>
</module>
