<div class="epi-event epi-activity">
    <div class="epi-event__title-wrapper">
        <span class="dijitInline" data-dojo-attach-point="iconNode"></span>
        <span class="epi-event__title" data-dojo-attach-point="titleNode"></span>
    </div>
    <div class="epi-event__status" data-dojo-attach-point="actionNode">
        <span class="dijitInline epi-event__status__icon">
            <span data-dojo-attach-point="actionIconNode"></span>
        </span><span class="epi-event__status__message" data-dojo-attach-point="actionTextNode"></span>
    </div><div data-dojo-attach-point="messageNode"></div
    ><div class="epi-activity__comment" data-dojo-attach-point="activityCommentNode"></div
    ><div class="epi-activity__comments" data-dojo-attach-point="containerNode"></div>
    <div data-dojo-type="epi-cms/activity/ActivityCommentForm" data-dojo-attach-point="commentForm"></div>
</div>
