<div class="epi-activity-comment">
    <header>
        <span class="dijitReset dijitInline epi-username" data-dojo-attach-point="usernameNode"></span>
        <span class="dijitReset dijitInline epi-event__timestamp" data-dojo-attach-point="timestampNode"></span>
        <span class="dijitReset dijitInline epi-iconEdited" data-dojo-attach-point="editedIconNode"></span>
    </header>
    <div data-dojo-type="epi-cms/activity/ActivityCommentForm"
         data-dojo-props="model: this.model"
         data-dojo-attach-point="commentForm"></div>
</div>
