<div class="dijit dijitReset dijitInline dijitLeft" id="widget_${id}" waiRole="presentation">
    <div class="dijitReset dijitInputField dijitInputContainer">
        <div style="float: left;width:100%;">
            <div style="float: left; padding-right: 16px;">
                <input class="dijitReset dijitInputInner" dojoAttachPoint="textbox,focusNode" dojoAttachEvent="onkeyup: _valueChanged" autocomplete="off" ${!nameAttrSetting} type="${type}" />
            </div>
        </div>
        <span class="epiDeleteIcon" dojoAttachPoint="clearButton" style="width:16px; height: 16px; float: left; margin-left: -16px" alt=""></span>
        <div style="clear: both; width: 0; height: 0; border: 0; padding: 0; margin: 0;"></div>
    </div>
</div>