<?xml version="1.0" encoding="utf-8" ?>
<module loadFromBin="false" clientResourceRelativePath="" viewEngine="Razor" moduleJsonSerializerType="Net" prefferedUiJsonSerializerType="Net">
    <assemblies>
        <add assembly="EPiServer.Cms.UI.Settings" />
    </assemblies>

    <clientResources>
        <add name="settings" path="clientResources/dist/settings.bundle.css" resourceType="Style" />
        <add name="settings" path="clientResources/dist/settings.bundle.js" resourceType="Script" />
    </clientResources>

    <clientModule>
        <moduleDependencies>
            <add dependency="CMS" />
        </moduleDependencies>
        <requiredResources>
            <add name="settings" />
        </requiredResources>
    </clientModule>
</module>
