<span class="dijit dijitReset dijitInline epi-mediumButton epi-expandoMenuButton"><!--
 --><button data-dojo-attach-point="toggleButton" data-dojo-type="dijit/form/ToggleButton" class="epi-chromelessButton"
        data-dojo-attach-event="onChange: _toggleButtonChange, onClick:_toggleButtonClick" showlabel="false">${label}</button><!--
    --><ul data-dojo-attach-point="expandoNode" class="dijitHidden"><li data-dojo-attach-point="innerTextContainerNode" class="epi-expandoMenuButton--no-children"><span class="epi-expandoMenuButton--no-children-text" data-dojo-attach-point="innerTextNode"></span></li></ul><!--
--></span>
