<div>
    <div data-dojo-attach-point="accordionNode" class="epi-navigation-accordioncontainer">
        <div data-dojo-attach-point="containerNode" class="${hiddenClass}" style="position:absolute; bottom:0; left:0; width:100%"></div>
    </div>
    <div data-dojo-attach-point="expandCollapseContainer" class="epi-navigation-expandcollapseContainer">
        <a data-dojo-attach-point="expandCollapseButton" href="javascript:void(0)" class="epi-navigation-expandcollapseBtn"
            tabindex="0"><span class="epi-navigation-expandcollapseIcon"></span></a>
    </div>
</div>
