<div data-dojo-attach-point="containerNode" class="epi-editorViewport">
    <div data-dojo-attach-point="scroller" class="epi-editorViewport-center">
        <div data-dojo-attach-point="previewContainer" class="epi-editorViewport-previewBox"  data-dojo-props="region: 'center'">
            <iframe data-dojo-attach-point="iframe" data-dojo-type="epi/shell/widget/AutoResizingIframe" data-dojo-props="autoFit : false" name="${iframeName}"></iframe>
            <div data-dojo-attach-point="overlay" data-dojo-type="epi/shell/widget/overlay/OverlayContainer"></div>
            <div data-dojo-attach-point="scrollSizer" class="epi-editorViewport-scrollSizer"></div>
        </div>
    </div>
</div>
