<div class="epi-notificationBar epi-status-bar--error" style="display:none;">
    <div class="epi-notificationBarItem">
        <div class="epi-notificationBarText">
            <p><strong data-dojo-attach-point="mainInfoNode"></strong></p>
            <p data-dojo-attach-point="additionalInfoNode"></p>
        </div>
        <div class="epi-notificationBarButtonContainer">
            <button data-dojo-type="dijit/form/Button" class="epi-chromelessButton" data-dojo-attach-event="onClick: _onRefreshButtonClick">${_res.refresh}</button>
        </div>
    </div>
</div>