<div class="dijit dijitReset dijitInline dijitLeft dijitTextBox epi-searchInput epi-contentSearchBox" id="widget_${id}">
    <span data-dojo-attach-point="clearButton" class="dijitReset dijitRight epi-clearButton" role="presentation"></span>
    <div class="dijitReset dijitInputField dijitInputContainer">
        <input data-dojo-attach-point="textbox,focusNode" type="text" class="dijitReset dijitInputInner" role="textbox" />
        <span class="dijitPlaceHolder dijitInputField" data-dojo-attach-point="_phspan,placeHolderNode"></span>
    </div>
</div>