<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="3.0.0">
    <assemblies>
        <add assembly="EPiServer.Cms.TinyMce"/>
    </assemblies>
    <dojo>
        <packages>
            <add name="epi-addon-tinymce" location="ClientResources/epi-addon-tinymce"/>
            <add name="tinymce" location="ClientResources/tinymce"/>
        </packages>
    </dojo>

    <clientResources>
        <add name="epi-addon-tinymce.main" path="ClientResources/epi-addon-tinymce/widgets.js" resourceType="Script"/>
    </clientResources>

    <clientModule>
        <moduleDependencies>
            <add dependency="CMS" type="RunAfter"/>
        </moduleDependencies>
        <requiredResources>
            <add name="epi-addon-tinymce.main"/>
        </requiredResources>
    </clientModule>
</module>