<div>
    <div data-dojo-type="epi-cms/widget/Breadcrumb" data-dojo-attach-point="breadcrumbNode" data-dojo-props="showCurrentNode: false"></div>
    <h1 data-dojo-attach-point="contentNameNode" class="epi-breadCrumbsCurrentItem dijitInline dojoxEllipsis"></h1>
    <div data-dojo-attach-point="publishChangesCaptionNode"></div>
    <div data-dojo-type="epi/shell/widget/DateTimeSelectorDropDown" data-dojo-attach-point="dateTimeSelector" data-dojo-props="required:true"></div>
    <div data-dojo-attach-point="referenceGrid" data-dojo-type="epi-cms/project/ContentReferenceGrid" class="dijitHidden push-margin--top"></div>
</div>