<!--
EPiServer Shell Package file

This file is used for:
  a) Compressing and combining scripts into packages at build time
  b) Used as a reference when running Framework with <clientResources debug=true />

 Two different types of packages are supported: js and css. Overlays can be used to combine a package
 with overrides into a new package (use semicolon-separated string to defined multiple overlays).
-->
<packages>

</packages>
