<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="12.0.0" type="EPiServer.Cms.Shell.CmsModule, EPiServer.Cms.Shell.UI" viewFolder="CmsUIViews" authorizationPolicy="episerver:cmsedit" moduleJsonSerializerType="Resolve" prefferedUiJsonSerializerType="Net">
  <assemblies>
    <add assembly="EPiServer.Cms.Shell.UI"/>
    <add assembly="EPiServer.UI"/>
    <add assembly="EPiServer"/>
  </assemblies>

  <routes>
    <route controllerPrefix="EPi">
      <defaults>
        <add key="controller" value="Home"/>
        <add key="action" value="Index"/>
        <add key="id" value=""/>
      </defaults>
    </route>
  </routes>

  <clientResources>
    <add name="epi-cms.widgets.base" path="ClientResources/epi-cms/epi.css" resourceType="Style"/>
    <add name="epi-cms.widgets.base" path="ClientResources/epi-cms/ResourceBundle.js" resourceType="Script"/>
    <add name="epi-cms.widgets.base" path="ClientResources/epi-cms/widgets.js" resourceType="Script"/>
  </clientResources>

  <dojo>
    <packages>
        <add name="epi-cms" location="ClientResources/epi-cms"/>
    </packages>
    <aliases>
      <add from="epi-cms/store/queryUtils" to="epi/shell/store/queryUtils"/>
    </aliases>
  </dojo>

  <clientModule initializer="epi-cms/CMSModule">
    <moduleDependencies>
      <add dependency="Shell"/>
    </moduleDependencies>
    <requiredResources>
      <add name="epi-cms.widgets.base"/>
    </requiredResources>
  </clientModule>

</module>