name: Jhoose Security Core

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
 
env:
  BUILD_NO: 1.0.0

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    - name: Build
      working-directory: ./src/Jhoose.Security.Core
      run: dotnet build --configuration Release -p:Version=${BUILD_NO}
      
    - name: Test
      working-directory: ./src
      run: dotnet test --no-build --verbosity normal
      
    - name: Push Nupkg to GitHub Packages
      uses: tanaka-takayoshi/nuget-publish-to-github-packages-action@v2.1
      with:
        # Path of NuPkg
        nupkg-path: ./**/Jhoose.Security.Core*.nupkg
        # package repository owner
        repo-owner: 'andrewmarkham'
        # user account
        gh-user: 'andrewmarkham'
        # access token
        token: ${{ secrets.GITHUB_TOKEN }}
        # skip publishing duplicated package(s)
        skip-duplicate: true
